@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello</h1>
    <p class="lead">We are glad to see you on your site</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

